body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #121212; /* Darkest background */
  color: #ffffff;
}

.card {
  background-color: #1E1E1E; /* Dark card color from your UI */
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 20px;
}

